<div class="container" ng-controller="employeeCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">List of employees - CRUD Tutorial</div>
        <div class="panel-body">
            <button type="button" class="btn btn-info" data-target="#AddEmployee" data-toggle="modal">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Office</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in Employees">
                    <td>{{emp.EmployeeId}}</td>
                    <td>{{emp.Name}}</td>
                    <td>{{emp.Email}}</td>
                    <td>{{emp.Department}}</td>
                    <td>{{emp.Office}}</td>
                    <td style="width: 200px">
                        <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    @*START MODAL - ADD EMPLOYEE*@
    <div class="modal" id="AddEmployee" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-info">Adicionar Funcionário</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="AddNewEmployeeForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="employeeId" type="hidden" placeholder="Employee ID" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="name" ng-model="name" placeholder="Employee name" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="name" ng-model="email" placeholder="E-mail" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="name" ng-model="department" placeholder="Employee department" />
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="name" ng-model="office" placeholder="Employee office" />
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="addEmployee()">Adicionar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearData()">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    @*END MODAL - ADD EMPLOYEE*@

</div>


@section scripts{
    <script src="~/AngularJSApp/Employee/Module.js"></script>
    <script src="~/AngularJSApp/Employee/Service.js"></script>
    <script src="~/AngularJSApp/Employee/Controller.js"></script>
}